<div class="container" style="padding-top: 10px; padding-bottom: 10px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="d-flex justify-content-center">
                <div class="card shadow" style="padding: 50px; height: 100%; width: 500px">
                    <form>
                        <div style="text-align: center">
                            <h3 style="color: black">Sign In</h3>
                        </div>
                        <!-- Log in as -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Sign in as</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-id-card-o"
                                            aria-hidden="true"></i></span>
                                </div>
                                <!-- <input type="text" class="form-control" placeholder="Enter your email" id="emailSignIn" aria-describedby="emailHelp"> -->
                                <select class="form-control" id="loginAs" name="loginAs">
                                    <option value="student">Student</option>
                                    <option value="mentor">Mentor</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"
                                            aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter your email" id="emailSignIn"
                                    aria-describedby="emailHelp">
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                anyone else.</small>
                        </div>
                        <!-- password -->
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                </div>
                                <input type="password" class="form-control" id="passwordSignIn"
                                    placeholder="Enter your password" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!-- forgot password -->
                        <div class="mb-3">
                            <div>
                                <a href="signup.html">Sign Up</a>
                                <a href="" style="padding-left : 20px">Forgot password?</a>
                            </div>
                        </div>
                        <!-- form check -->
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>