 <div class="row">
<div class="card card-custom col-md-4" *ngFor="let data of datas">
<div class="card-img">
    <img src="https://img.icons8.com/color/144/000000/mongodb.png" alt="">
</div>
<div class="card-body">
    <h4 class="card-title" style="color: darkblue; text-align: center">MongoDB</h4>
    <p class="card-body">
        MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database
        program, MongoDB uses JSON-like documents with schema.</p>
    <div class="d-flex justify-content-center">
    <button class="btn btn-primary" (click)="selectMentor()">Enroll</button>
    </div>
</div>
</div>
</div>