<!-- <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top"> -->
<nav class="navbar navbar-expand-lg bg-light navbar-light" style="background: #fff">
    <!-- Brand -->
    <a class="navbar-brand" routerLink='/home' style="font-family: fantasy"><img src="../assets/mentor.png">&nbsp;MentorOnDemand</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/home' style="color: #0066ff">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/courses' style="color: #0066ff">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/aboutus' style="color: #0066ff">About Us</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer; color: #0066ff;" class="nav-link" (click)="scrollToElement()">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <!-- <li>
                <form class="form-inline" action="/action_page.php">
                    <div class="input-group" style="color: #0066ff">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color: #0066ff">Sign Up
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/studentsignup">Student</a>
                    <a class="dropdown-item" routerLink="/mentorsignup">Mentor</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin" style="color: #0066ff">&nbsp;&nbsp;Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">
                    <i class="fa fa-search fa-lg" style="color: #0066ff"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>