<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding: 60px">
            <div class="d-flex justify-content-center">
                <img src="../../assets/aboutUs/focus.png" alt="focus" height="100px" width="100px">
            </div>
            <div style="text-align:center">
                <h2 style="color: #0066ff">Focus</h2>
                <h5 style="color: black">
                We have 100% commitment to make all our customers happy, no matter what it takes to get there.
                </h5>
            </div>
        </div>
        <div class="col-md-6" style="padding: 60px">
            <div class="d-flex justify-content-center">
                <img src="../../assets/aboutUs/passion1.png" alt="focus" height="100px" width="100px">
            </div>
            <div style="text-align:center">
            <h2 style="color: #0066ff">Passion</h2>
            <h5 style="color: black">
            Our desire to produce good service runs deep - that's what makes us handle every service with fresh energy
            and enthusiasm.
            </h5>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6" style="padding: 60px">
            <div class="d-flex justify-content-center">
                <img src="../../assets/aboutUs/empathy1.png" alt="focus" height="100px" width="100px">
            </div>
            <div style="text-align:center">
            <h2 style="color: #0066ff">Empathy</h2>
            <h5 style="color: black">
            We provide you with what you need and we listen hard to understand your perspective and goals.
            </h5>
            </div>
        </div>
        <div class="col-md-6" style="padding: 60px">
            <div class="d-flex justify-content-center">
                <img src="../../assets/aboutUs/teamwork.png" alt="focus" height="100px" width="100px">
            </div>
            <div style="text-align:center">
            <h2 style="color: #0066ff">Teamwork</h2>
            <h5 style="color: black">
            We are united with you in the drive to get the best mentor for you with your preferred technology. Think of
            us as extra members of your team.
            </h5>
            </div>
        </div>
    </div>
</div>