<!-- The banner section -->
<div class="container-fluid">
    <div class="row bgheadings">
        <div class="col-sm-6">
            <h2>Find mentors for</h2>
            <img class="img-fluid rounded" src="../assets/banner-heading-training-programs.jpg" alt="Chania" width="460" height="345">
            <div style="padding: 25px">
                <h4><i class="fa fa-arrow-right"></i> 1000+ Technical Courses you can opt for.</h4>
                <h4><i class="fa fa-arrow-right"></i> Choose your favourite mentor!</h4>
                <h4><i class="fa fa-arrow-right"></i> More than 1500+ vetted Mentors online!</h4>
                <h4><i class="fa fa-arrow-right"></i> Select personalized course structure.</h4>
            </div>
        </div>
        <div class="col-sm-6">
            <h1 style="font-style: italic">Build your career with us!</h1>
            <h1 style="font-style: italic">Why wait?</h1>
            <img class="img-fluid rounded-circle" src="../assets/trainer.jpg" alt="Chania" width="460" height="345">
            <h1 style="font-style: italic">The best mentors are a click away!</h1>
        </div>
    </div>
</div>
<span></span>
<!-- The words to motivate section -->
<div class="container-fluid" style="padding: 100px">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid rounded-circle" src="../assets/banner-computer-photoshop.jpg" alt="Chania" width="460" height="345">
        </div>
        <div class="col-sm-6" style="padding: 20px">
            <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #000;">
                Take the first step to be industry ready.
            </h1>
            <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #000; font-style: italic">
                Find your mentor. Learn cutting-edge technologies out there with unparalleled guidance and create history!
            </h2>
        </div>
    </div>
</div>
<app-aboutus></app-aboutus>
<app-contactus></app-contactus>