<div style="height: 600px">
    <div class="row">
        <div class="col-md-2" style="padding: 20px;">
            <div>
                <div class="d-flex justify-content-center">
                    <img src="../../assets/mentorProfile.jpg" class="rounded-circle" style="height: 100px; width:100px">
                </div>
                <div style="text-align: center; padding-bottom: 20px">
                    {{_datashare.userName}}
                </div>
                <div class="sidebar">
                    <a class="active" routerLink="/courses">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="background:darkgoldenrod">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>