<div style="padding:100px ; min-height: 600px">
    <form action="">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="search" placeholder="Search" aria-describedby="button-addon2" class="form-control border-0 bg-light">
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center"></div>
    </form>
</div>